* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  width: 100%;
  padding-top: 5.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navigation .navigation__logo {
  width: 97px;
  height: 41.38px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation .navigation__menu {
  display: none;
}

.navigation .navigation__logo--half {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation__buy {
  display: none;
}

.navigation .navigation__language-picker {
  margin-left: auto;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.7rem;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.navigation .navigation__language-picker .navigation__overlay {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 6.7rem;
  height: 16.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 15px 30px 0px #0000001a;
          box-shadow: 0px 15px 30px 0px #0000001a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.navigation .navigation__language-picker .navigation__overlay .navigation__languages {
  list-style: none;
}

.navigation .navigation__language-picker .navigation__overlay .navigation__languages .navigation__language {
  width: 100%;
  margin-top: 1rem;
  margin-right: 1.4rem;
  padding-bottom: 0.9rem;
  padding-left: 0.3rem;
  border-bottom: 1px solid gray;
}

.navigation .navigation__language-picker .navigation__overlay .navigation__languages .navigation__language:last-child {
  border-bottom: none;
  padding-bottom: 1.5rem;
}

.navigation .navigation__language-picker .navigation__overlay .navigation__languages a {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navigation .navigation__language-info {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
}

.navigation .navigation__burger {
  width: 3.6rem;
  height: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2rem;
  cursor: pointer;
}

.navigation .navigation__burger .navigation__burger--line {
  width: 100%;
  height: 0.2rem;
  background-color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navigation .navigation__links {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10.03rem;
  padding-top: 7.1rem;
  height: calc(100vh - 100.38px);
  width: 100%;
  list-style: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.navigation .navigation__links .navigation__link {
  height: 2.3rem;
  margin-bottom: 7.2rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.navigation .navigation__links .navigation__link-text {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  line-height: 1.829rem;
  margin-right: 0.1rem;
}

.navigation .navigation__links .navigation__link--buy {
  width: 15.2rem;
  height: 5rem;
  border-radius: 2.85rem;
  background-color: #ffb001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 20px 59px -10px #00000026;
          box-shadow: 0px 20px 59px -10px #00000026;
}

.navigation .navigation__links .navigation__link-text--buy {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.header {
  margin-top: 13.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__title {
  width: 32rem;
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin: 0 2rem;
}

.header .header__image {
  position: relative;
  margin-top: 6rem;
  width: 100%;
  height: 51.6rem;
  background-image: url("machine-img(1).webp");
  background-position: center top;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__image .header__shop {
  position: absolute;
  right: 0;
  bottom: 12rem;
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  background-color: #ffb001;
  border-radius: 50%;
  -webkit-box-shadow: 0px 20px 59px -10px #00000026;
          box-shadow: 0px 20px 59px -10px #00000026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.baner {
  position: relative;
  top: -8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffb001;
  width: 100%;
  height: 31.3rem;
  border-radius: 1rem;
}

.baner .baner__title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.9rem;
  width: 28rem;
  height: 8.8rem;
  margin-top: 5rem;
}

.baner .baner__info {
  width: 32rem;
  height: 7.5rem;
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator .calculator__title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.9rem;
  line-height: 3.5rem;
  height: 3.5rem;
}

.calculator .calculator__info {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 6rem;
}

.calculator .calculator__card {
  width: 32rem;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafd;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.calculator .calculator__card .calculator__label {
  width: 28rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.95rem;
  text-align: center;
  margin-bottom: 4rem;
}

.calculator .calculator__card .calculator__input {
  width: 22.5rem;
  height: 7rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #212121;
  font-size: 1.6rem;
}

.calculator .calculator__card--black {
  background-color: #212121;
  height: 21.3rem;
  margin-bottom: 0;
}

.calculator .calculator__text {
  width: 28rem;
  height: 5.2rem;
  line-height: 1.95rem;
  text-align: center;
  font-weight: 900;
  color: white;
  font-size: 1.6rem;
  margin-top: 4rem;
}

.calculator .calculator__result {
  font-size: 2.8rem;
  font-weight: 900;
  width: 15.7rem;
  height: 2.8rem;
  line-height: 3.2rem;
  color: white;
  opacity: 0.5;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__text {
  margin-top: 6rem;
  width: 28rem;
  height: 5.3rem;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

.footer .footer__shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__shop {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #ffb001;
  width: 32rem;
  height: 8rem;
  border: none;
  border-radius: 4.75rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 34px 64px -10px #00000026;
          box-shadow: 0px 34px 64px -10px #00000026;
  color: black;
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer__shop .footer__button {
  color: black;
  text-decoration: none;
  font-size: 2.4rem;
}

.footer .footer__shop .footer__button--buy {
  font-weight: 900;
  text-transform: uppercase;
}

.footer .footer__title {
  margin-top: 6rem;
  width: 29.3rem;
  height: 7.5rem;
  color: #212121;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.438rem;
  text-align: center;
  padding: 0 2.5rem;
  margin-bottom: 10.3rem;
}

@-webkit-keyframes links-slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes links-slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    padding-top: 2rem;
    -webkit-box-shadow: 0px 4px 24px -5px #00000026;
            box-shadow: 0px 4px 24px -5px #00000026;
    padding-bottom: 1.9rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 9rem;
  }
  .navigation .navigation__logo {
    margin-left: 11rem;
  }
  .navigation .navigation__language-picker {
    margin-left: 0;
  }
  .navigation .navigation__burger {
    display: none;
  }
  .navigation .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    list-style: none;
  }
  .navigation .navigation__desktop-links {
    margin-right: 4.7rem;
    height: 2rem;
    line-height: 1.95rem;
  }
  .navigation .navigation__desktop-links .navigation__desktop-content {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
  }
  .navigation .navigation__desktop-links--last {
    margin-right: 0;
  }
  .navigation .navigation__buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 2.85rem;
    width: 15.2rem;
    height: 5.7rem;
    margin-right: 11rem;
    background-color: #ffb001;
    border: 2px solid #ffb001;
    -webkit-box-shadow: 0px 20px 59px -10px #00000026;
            box-shadow: 0px 20px 59px -10px #00000026;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 900;
  }
  .header .header__title {
    width: 99.7rem;
    height: 14rem;
    font-size: 5.5rem;
  }
  .header .header__image {
    width: 86.1rem;
    height: 77.5rem;
  }
  .header .header__image .header__shop {
    display: none;
  }
  .baner {
    height: 36.5rem;
    top: -12rem;
  }
  .baner .baner__title {
    margin-top: 8rem;
    width: 78.1rem;
    height: 9.5rem;
    font-size: 4rem;
    line-height: 4.876rem;
  }
  .baner .baner__info {
    margin-top: 4rem;
    width: 71.1rem;
    height: 6.4rem;
    line-height: 3.2rem;
    font-size: 2rem;
  }
  .calculator .calculator__title {
    width: 100%;
    height: 4.3rem;
    font-size: 4rem;
    line-height: 4.876rem;
  }
  .calculator .calculator__info {
    width: 100%;
    text-align: center;
    height: 3.2rem;
    font-size: 2rem;
    margin-bottom: 8.3rem;
  }
  .calculator .calculator__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100.12rem;
  }
  .calculator .calculator__container .calculator__card {
    width: 49.1rem;
    height: 26rem;
  }
  .calculator .calculator__container .calculator__card .calculator__label {
    font-size: 2rem;
    height: 6rem;
    width: 34.9rem;
  }
  .calculator .calculator__container .calculator__card .calculator__input {
    font-size: 2rem;
  }
  .calculator .calculator__text {
    width: auto;
    font-size: 2rem;
  }
  .calculator .calculator__result {
    font-size: 2.4rem;
  }
  .calculator .calculator__card--black {
    width: 100.12rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer__text {
    font-size: 2rem;
    width: 42rem;
    height: 3.2rem;
  }
  .footer .footer_shop {
    width: 38.6rem;
    height: 9.5rem;
  }
  .footer .footer__button {
    font-size: 2.4rem;
  }
  .footer .footer__title {
    width: 44.6rem;
    height: 6.2rem;
    font-size: 2.8rem;
    margin-bottom: 15.5rem;
  }
}

.sticky-nav {
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}

.nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.language-picker-active {
  visibility: visible !important;
  opacity: 1 !important;
}

.burger-active .line-1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 9px);
          transform: rotate(-45deg) translate(-8px, 9px);
}

.burger-active .line-2 {
  opacity: 0;
}

.burger-active .line-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -9px);
          transform: rotate(45deg) translate(-8px, -9px);
}
/*# sourceMappingURL=style.css.map */