$mainOrange: #ffb001;
$mainBlack: #212121;
$grayForm: #C2C2C2;
$grayBackground: #FAFAFD;
$white: #FFFFFF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.navigation {
  width: 100%;
  padding-top: 5.9rem;
  display: flex;
  align-items: center;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 1;

  .navigation__logo {
    width: 97px;
    height: 41.38px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    // align-self: flex-start;
  }

  .navigation__menu {
    display: none;
  }

  .navigation__logo--half {
    width: 100%;
    display: flex;
  }

  .navigation__buy {
    display: none;
  }

  .navigation__language-picker {
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    width: 6.7rem;
    height: 4rem;
    justify-content: center;
    position: relative;
    cursor: pointer;

    .navigation__overlay {
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;
      width: 6.7rem;
      height: 16.3rem;
      justify-content: center;
      box-shadow: 0px 15px 30px 0px #0000001a;
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-in-out;
      z-index: 1;

      .navigation__languages {
        list-style: none;
        .navigation__language {
          width: 100%;
          margin-top: 1rem;
          margin-right: 1.4rem;
          padding-bottom: 0.9rem;
          padding-left: 0.3rem;
          border-bottom: 1px solid gray;
        }
        .navigation__language:last-child {
          border-bottom: none;
          padding-bottom: 1.5rem;
        }

        a {
          font-size: 1.6rem;

          text-transform: uppercase;
          text-decoration: none;
          color: $mainBlack;
        }
      }
    }
  }

  .navigation__language-info {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
  }

  .navigation__burger {
    width: 3.6rem;
    height: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    cursor: pointer;

    .navigation__burger--line {
      width: 100%;
      height: 0.2rem;
      background-color: $mainBlack;
      transition: 0.5s ease-in-out;
    }
  }

  .navigation__links {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10.03rem;
    padding-top: 7.1rem;
    height: calc(100vh - 100.38px);
    width: 100%;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    .navigation__link {
      height: 2.3rem;
      margin-bottom: 7.2rem;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .navigation__link-text {
      text-decoration: none;
      font-size: 1.5rem;
      color: $mainBlack;
      font-weight: 500;
      line-height: 1.829rem;
      margin-right: 0.1rem;
    }

    .navigation__link--buy {
      width: 15.2rem;
      height: 5rem;
      border-radius: 2.85rem;
      background-color: $mainOrange;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 20px 59px -10px #00000026;
    }
    .navigation__link-text--buy {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
}

.header {
  margin-top: 13.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header__title {
    width: 32rem;
    text-align: center;
    font-weight: 900;
    font-size: 3.5rem;
    margin: 0 2rem;
  }

  .header__image {
    position: relative;
    margin-top: 6rem;
    width: 100%;
    height: 51.6rem;
    background-image: url("machine-img(1).webp");
    background-position: center top;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .header__shop {
      position: absolute;
      right: 0;
      bottom: 12rem;
      width: 8rem;
      height: 8rem;
      margin-right: 2rem;
      background-color: #ffb001;
      border-radius: 50%;
      box-shadow: 0px 20px 59px -10px #00000026;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
    }
  }
}

@mixin h2-style {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.9rem;
}
.baner {
  position: relative;
  top: -8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mainOrange;
  width: 100%;
  height: 31.3rem;
  border-radius: 1rem;

  .baner__title {
    @include h2-style;
    width: 28rem;
    height: 8.8rem;
    margin-top: 5rem;
  }

  .baner__info {
    width: 32rem;
    height: 7.5rem;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;

  .calculator__title {
    @include h2-style;
    line-height: 3.5rem;
    height: 3.5rem;
  }

  .calculator__info {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 6rem;
  }

  .calculator__card {
    width: 32rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grayBackground;
    border-radius: 1.5rem;
    margin-bottom: 2rem;

    @mixin calculator-card-text {
      width: 28rem;
      height: 5rem;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.95rem;
      text-align: center;
      margin-bottom: 4rem;
    }

    .calculator__label {
      @include calculator-card-text;
    }

    .calculator__input {
      width: 22.5rem;
      height: 7rem;
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #212121;
      font-size: 1.6rem;
    }
  }
  .calculator__card--black {
    background-color: #212121;
    height: 21.3rem;
    margin-bottom: 0;
  }

  .calculator__text {
    width: 28rem;
    height: 5.2rem;
    line-height: 1.95rem;
    text-align: center;
    font-weight: 900;
    color: $white;
    font-size: 1.6rem;
    margin-top: 4rem;
  }

  .calculator__result {
    font-size: 2.8rem;
    font-weight: 900;
    min-width: 15.7rem;
    max-width: 20rem;
    height: 2.8rem;
    line-height: 3.2rem;
    color: $white;
    opacity: 0.5;
    text-align: center;
  }

  .calculator__input:focus{
    outline-color: $mainOrange;
  }
 
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @mixin footer-items {
    margin-top: 6rem;
  }
  .footer__text {
    @include footer-items;
    width: 28rem;
    height: 5.3rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.6rem;
  }

  .footer__shop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__shop {
    @include footer-items;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $mainOrange;
    width: 32rem;
    height: 8rem;
    border: none;
    border-radius: 4.75rem;
    overflow: hidden;
    box-shadow: 0px 34px 64px -10px #00000026;
    color: $mainBlack;
    font-size: 2rem;
    line-height: 2.4rem;
    text-decoration: none;
    cursor: pointer;

    .footer__button {
      color: $mainBlack;
      text-decoration: none;
      font-size: 2.4rem;
    }

    .footer__button--buy {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .footer__title {
    @include footer-items;
    width: 29.3rem;
    height: 7.5rem;
    color: $mainBlack;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.438rem;
    text-align: center;
    padding: 0 2.5rem;
    margin-bottom: 10.3rem;
  }
}

@keyframes links-slide {
  from {
    opacity: 0;
    transform: translateX(7rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    padding-top: 2rem;
    box-shadow: 0px 4px 24px -5px #00000026;
    padding-bottom: 1.9rem;
    justify-content: space-between;
    height: 9rem;

    .navigation__logo {
      margin-left: 11rem;
    }

    .navigation__language-picker {
      margin-left: 0;
    }
    .navigation__burger {
      display: none;
    }

    .navigation__menu {
      display: flex;
      margin: 0 auto;
      list-style: none;
    }

    .navigation__desktop-links {
      margin-right: 4.7rem;
      height: 2rem;
      line-height: 1.95rem;
      .navigation__desktop-content {
        color: $mainBlack;
        text-decoration: none;
        font-size: 1.6rem;
        transition: color 0.1s;
      }

      .navigation__desktop-content:hover {
        color: $mainOrange;
      }
    }

    .navigation__desktop-links--last {
      margin-right: 0;
    }

    .navigation__buy {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2.85rem;
      width: 15.2rem;
      height: 5.7rem;
      margin-right: 11rem;
      background-color: $mainOrange;
      border: 2px solid $mainOrange;
      box-shadow: 0px 20px 59px -10px #00000026;
      text-decoration: none;
      color: $mainBlack;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 900;
    }
  }

  .header {
    .header__title {
      width: 99.7rem;
      height: 14rem;
      font-size: 5.5rem;
    }

    .header__image {
      width: 86.1rem;
      height: 77.5rem;

      .header__shop {
        display: none;
      }
    }
  }

  .baner {
    height: 36.5rem;
    top: -12rem;
    .baner__title {
      margin-top: 8rem;
      width: 78.1rem;
      height: 9.5rem;
      font-size: 4rem;
      line-height: 4.876rem;
    }

    .baner__info {
      margin-top: 4rem;
      width: 71.1rem;
      height: 6.4rem;
      line-height: 3.2rem;
      font-size: 2rem;
    }
  }

  .calculator {
    .calculator__title {
      width: 100%;
      height: 4.3rem;
      font-size: 4rem;
      line-height: 4.876rem;
    }

    .calculator__info {
      width: 100%;
      text-align: center;
      height: 3.2rem;
      font-size: 2rem;
      margin-bottom: 8.3rem;
    }

    .calculator__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100.12rem;

      .calculator__card {
        width: 49.1rem;
        height: 26rem;

        .calculator__label {
          font-size: 2rem;
          height: 6rem;
          width: 34.9rem;
        }

        .calculator__input {
          font-size: 2rem;
        }

        
      }
     
    }

    .calculator__card--black {
      width: 100.12rem;
      flex-direction: row;
    }

    .calculator__text {
      width: auto;
      font-size: 2rem;
    }

    .calculator__result {
      font-size: 2.4rem;
    }
  }

  .footer {
    .footer__text {
      font-size: 2rem;
      width: 42rem;
      height: 3.2rem;
    }

    .footer_shop {
      width: 38.6rem;
      height: 9.5rem;
    }

    .footer__button {
      font-size: 2.4rem;
    }

    .footer__title {
      width: 44.6rem;
      height: 6.2rem;
      font-size: 2.8rem;
      margin-bottom: 15.5rem;
    }
  }
}

//for scripts

.sticky-nav {
  box-shadow: 0 4px 2px -2px gray;
}

.nav-active {
  transform: translateX(0%) !important;
}

.language-picker-active {
  visibility: visible !important;
  opacity: 1 !important;
}
.burger-active .line-1 {
  transform: rotate(-45deg) translate(-8px, 9px);
}
.burger-active .line-2 {
  opacity: 0;
}
.burger-active .line-3 {
  transform: rotate(45deg) translate(-8px, -9px);
}
